Source: dasom-jeongeum
Section: utils
Priority: optional
Maintainer: Hodong Kim <hodong@cogno.org>
Build-Depends: debhelper,
               dh-autoreconf,
               libglib2.0-dev,
               pkg-config,
               dasom (>= 1.1),
               libhangul-dev
Standards-Version: 3.9.4
Homepage: https://github.com/dasom-im/dasom-jeongeum

Package: dasom-jeongeum
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-xserver-utils
Recommends: im-config, dconf-editor, gnome-tweak-tool
Suggests: fonts-noto-cjk, fonts-nanum
Description: Korean language engine module for Dasom
 dasom-jeongeum is a Korean language engine module based on libhangul.
